<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

	<type name="Magento\Framework\App\Router\NoRouteHandlerList">
		<arguments>
			<argument name="handlerClassesList" xsi:type="array">
				<item name="helloworld" xsi:type="array">
					<item name="class" xsi:type="string">Eloom\ThemeFrontendCore\App\Router\NoRouteHandler</item>
					<item name="sortOrder" xsi:type="string">80</item>
				</item>
			</argument>
		</arguments>
	</type>

	<type name="Magento\Catalog\Block\Product\AbstractProduct">
		<plugin name="badges_product"
		        type="Eloom\ThemeFrontendCore\Plugin\Catalog\ProductPlugin"/>
	</type>

	<type name="Magento\Catalog\Block\Product\Image">
		<plugin name="badges_label"
		        type="Eloom\ThemeFrontendCore\Plugin\Catalog\Product\ImagePlugin"/>
	</type>
</config>