<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

	<preference for="Magento\LayeredNavigation\Block\Navigation\FilterRenderer"
	            type="Eloom\ThemeFrontendCore\Block\Navigation\FilterRenderer"/>

	<type name="Magento\Framework\App\RouterList">
		<arguments>
			<argument name="routerList" xsi:type="array">
				<item name="brand" xsi:type="array">
					<item name="class" xsi:type="string">Eloom\ThemeFrontendCore\App\Router\Router</item>
					<item name="disable" xsi:type="boolean">false</item>
					<item name="sortOrder" xsi:type="string">22</item>
				</item>
			</argument>
		</arguments>
	</type>

	<type name="Magento\Framework\App\Router\NoRouteHandlerList">
		<arguments>
			<argument name="handlerClassesList" xsi:type="array">
				<item name="helloworld" xsi:type="array">
					<item name="class" xsi:type="string">Eloom\ThemeFrontendCore\App\Router\NoRouteHandler</item>
					<item name="sortOrder" xsi:type="string">80</item>
				</item>
			</argument>
		</arguments>
	</type>

	<type name="Magento\Catalog\Block\Product\AbstractProduct">
		<plugin name="badges_product"
		        type="Eloom\ThemeFrontendCore\Plugin\Catalog\ProductPlugin"/>
	</type>

	<type name="Magento\Catalog\Block\Product\Image">
		<plugin name="badges_label"
		        type="Eloom\ThemeFrontendCore\Plugin\Catalog\Product\ImagePlugin"/>
	</type>

	<type name="Eloom\ThemeFrontendCore\Block\Navigation\FilterRenderer">
		<plugin name="swatches_layered_renderer"
		        type="Magento\Swatches\Model\Plugin\FilterRenderer" sortOrder="1"/>
	</type>

	<type name="Magento\Theme\Block\Html\Topmenu">
		<plugin name="eloom_brand_topmenu"
		        type="Eloom\ThemeFrontendCore\Plugin\Brand\Topmenu"/>
	</type>
</config>