<div class="accordion">
  <div class="menu">
    <div data-role="collapsible">
      <div data-role="trigger">
        <span class="heading">Institucional</span>
      </div>
    </div>
    <ul class="links content" data-role="content">
      <li class="nav item"><a href="/sobre">Sobre</a></li>
      <li class="nav item"><a href="/contact">Fale Conosco</a></li>
    </ul>
  </div>
  <div class="menu">
    <div data-role="collapsible">
      <div data-role="trigger">
        <span class="heading">Ajuda</span>
      </div>
    </div>
    <ul class="links content" data-role="content">
      <li class="nav item"><a href="/termos-de-uso">Termos de Uso</a></li>
      <li class="nav item"><a href="/pedidos-e-entregas">Pedidos e Entregas</a></li>
      <li class="nav item"><a href="/trocas-e-devolucoes">Trocas e Devoluções</a></li>
    </ul>
  </div>
  <div class="menu">
    <div data-role="collapsible">
      <div data-role="trigger">
        <span class="heading">Social</span>
      </div>
    </div>
    <ul class="links content social" data-role="content">
      <li class="nav item"><a href="http://instagram.com/#/" target="_blank"><i class="icon icon-logo-instagram"></i>Instagram</a></li>
      <li class="nav item"><a href="http://facebook.com/#/" target="_blank"><i class="icon icon-logo-fb-simple"></i>Facebook</a></li>
      <li class="nav item"><a href="http://pinterest.com/#/" target="_blank"><i class="icon icon-logo-pinterest"></i>Pinterest</a></li>
      <li class="nav item"><a href="http://youtube.com/#/" target="_blank"><i class="icon icon-logo-youtube"></i>Youtube</a></li>
    </ul>
  </div>
</div>