<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	
	<preference for="Eloom\ThemeFrontend\Api\Data\AddressInterface" type="Eloom\ThemeFrontend\Model\Address"/>
	
	<preference for="Magento\Framework\App\Arguments\ValidationState" type="Eloom\ThemeFrontend\Model\ValidationState"/>
	
	<preference for="Eloom\ThemeFrontend\Api\MeasureInterface" type="Eloom\ThemeFrontend\Model\Measure"/>
	
	<preference for="Eloom\ThemeFrontend\Api\ShippingEstimateInterface"
	            type="Eloom\ThemeFrontend\Model\ShippingEstimate"/>
</config>