<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="eloom_themefrontend" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
		         showInStore="1">
			<class>separator-top</class>
			<label>Themes</label>
			<tab>eloom</tab>
			<resource>Eloom_ThemeFrontend::config</resource>
			
			<group id="information" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
			       showInStore="1">
				<label>Information</label>
				<frontend_model>Eloom\ThemeFrontend\Block\Adminhtml\System\Config\Information</frontend_model>
			</group>
			
			<group id="cookie_notice" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
			       showInStore="1">
				<label>Cookie Notice</label>
				<include path="Eloom_ThemeFrontend::system/cookie-notice.xml"/>
			</group>
			
			<group id="installments" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"
			       showInStore="1">
				<label>Product Installments</label>
				<include path="Eloom_ThemeFrontend::system/installments.xml"/>
			</group>
		</section>
	</system>
</config>